<% if @project.dependencies.present? %>
  <div class="mb-4">
    <h3 class="mb-3">Dependencies</h3>

    <% @project.dependencies.each do |manifest| %>
      <div class="card border-0 shadow-sm mb-3">
        <div class="card-header bg-white border-bottom">
          <div class="d-flex justify-content-between align-items-center">
            <h6 class="mb-0"><%= manifest['filepath'] %></h6>
            <span class="badge rounded-pill bg-primary"><%= manifest['ecosystem'] %></span>
          </div>
        </div>
        <% if manifest['kind'] == 'lockfile' && manifest['dependencies'].length > 100 %>
          <div class="card-body">
            <p class="text-muted mb-0">
              <%= pluralize(manifest['dependencies'].length, 'dependencies') %>
            </p>
          </div>
        <% else %>
          <ul class="list-group list-group-flush">
            <% manifest['dependencies'].sort_by{|d| [d['kind'], d['package_name']]}.each do |dependency| %>
              <li class="list-group-item border-0 d-flex justify-content-between align-items-center">
                <div>
                  <strong><%= dependency['package_name'] %></strong>
                  <% if dependency['requirements'].present? %>
                    <code class="text-muted ms-2"><%= dependency['requirements'] %></code>
                  <% end %>
                </div>
                <div>
                  <% if dependency['kind'] != 'runtime' %>
                    <span class="badge rounded-pill bg-light text-dark"><%= dependency['kind'] %></span>
                  <% end %>
                  <% if dependency['optional'] %>
                    <span class="badge rounded-pill bg-info text-dark">optional</span>
                  <% end %>
                </div>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>