<% owner_json = @project.read_attribute(:owner) %>
<% if owner_json %>
  <div class="mb-4">
    <h3 class="mb-3">
      <% if @project.owner_record.present? && @project.host.present? %>
        <%= link_to 'Owner', host_owner_path(@project.host.name, @project.owner_record.login), class: 'text-decoration-none' %>
      <% else %>
        Owner
      <% end %>
    </h3>

    <div class="card border-0 shadow-sm">
      <div class="card-body">
        <div class="row g-3">
          <div class="col-md-6">
            <ul class="list-unstyled mb-0">
              <% if owner_json['name'].present? %>
                <li class="mb-2">
                  <strong>Name:</strong> <%= owner_json['name'] %>
                </li>
              <% end %>
              <% if owner_json['login'].present? %>
                <li class="mb-2">
                  <strong>Login:</strong> <%= owner_json['login'] %>
                </li>
              <% end %>
              <% if owner_json['kind'].present? %>
                <li class="mb-2">
                  <strong>Kind:</strong> <span class="badge rounded-pill bg-primary"><%= owner_json['kind'] %></span>
                </li>
              <% end %>
              <% if owner_json['email'].present? %>
                <li class="mb-2">
                  <strong>Email:</strong> <%= owner_json['email'] %>
                </li>
              <% end %>
              <% if owner_json['location'].present? %>
                <li class="mb-2">
                  <strong>Location:</strong> <%= owner_json['location'] %>
                </li>
              <% end %>
              <% if owner_json['company'].present? %>
                <li class="mb-2">
                  <strong>Company:</strong> <%= owner_json['company'] %>
                </li>
              <% end %>
            </ul>
          </div>

          <div class="col-md-6">
            <ul class="list-unstyled mb-0">
              <% if owner_json['website'].present? %>
                <li class="mb-2">
                  <strong>Website:</strong> <%= link_to owner_json['website'], owner_json['website'], class: 'text-decoration-none' %>
                </li>
              <% end %>
              <% if owner_json['twitter'].present? %>
                <li class="mb-2">
                  <strong>Twitter:</strong> <%= owner_json['twitter'] %>
                </li>
              <% end %>
              <% if owner_json['repositories_count'].present? %>
                <li class="mb-2">
                  <strong>Repositories:</strong> <%= number_with_delimiter owner_json['repositories_count'] %>
                </li>
              <% end %>
              <% if owner_json['html_url'].present? %>
                <li class="mb-2">
                  <strong>Profile:</strong> <%= link_to owner_json['html_url'], owner_json['html_url'], class: 'text-decoration-none' %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>

        <% if owner_json['description'].present? %>
          <div class="mt-3 pt-3 border-top">
            <p class="text-muted mb-0"><%= owner_json['description'] %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>