<div class="card mb-3 project d-flex" id="project_<%= project.id %>">
  <div class="card-body pb-1">
    <div class="d-flex">
      
      <div class="flex-grow-1 ms-3 text-break">
        <h5 class='card-title'>
          <%= link_to project, project_path(project) %>
        </h5>
      
        <p class="card-subtitle mb-2 text-muted">
          <%= project.description %>
        </p>

        <% if project.keywords.any? %>
          <p>
            <% project.keywords.each do |keyword| %>
              <span class="badge bg-light text-dark">
                <%= link_to keyword, url_for(keyword: keyword) %>
              </span>
            <% end %>
          </p>
        <% end %>
        
        <% if project.fields.any? %>
          <p>
            <% project.all_fields_with_confidence.each do |field, confidence| %>
              <span class="badge bg-<%= confidence > 0.7 ? 'info' : confidence > 0.5 ? 'secondary' : 'light' %>">
                <%= field.name %>
                <% if confidence < 0.5 %>
                  <small>(<%= (confidence * 100).round(0) %>%)</small>
                <% end %>
              </span>
            <% end %>
          </p>
        <% end %>

        <% if project.last_synced_at %>
        <p class="card-subtitle mb-2 text-muted"><i><small>
          <% if project.category %>
            <%= project.category %> - <%= project.sub_category %> -
          <% end %>
          Last synced: <%= project.last_synced_at.strftime("%d %b %Y") %>
          - Ranking: <%= project.score.round(1) %>
          <% if project.science_score.present? %>
            - Science Score: <%= number_with_precision(project.science_score, precision: 0) %>%
          <% end %>
        </small></i></p>
        <% end %>
      </div>
      <div class="flex-shrink-0">
        <img src="<%= project.avatar_url %>" class="rounded" height='40' width='40' onerror="this.style.display='none'">
      </div>  
    </div>
  </div>
</div>