<div class="dashboard-grid mb-5 pb-5">
  <div class="four-equal-widgets">
    <div class="card well p-3 border-0">
      <div class="card-body">
        <h5 class="card-title small">Total Projects Analysed</h5>
        <div class="stat-card mb-2">
          <div class="stat-card-body">
            <span class="stat-card-title stat-card-title--large stat-card-number-positive">
              <%= number_with_delimiter(@stats[:total_projects]) %>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="card well p-3 border-0">
      <div class="card-body">
        <h5 class="card-title small">Scientific projects</h5>
        <div class="stat-card mb-2">
          <div class="stat-card-body">
            <span class="stat-card-title stat-card-title--large stat-card-number-positive">
              <%= number_with_delimiter(@stats[:scientific_projects]) %>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="card well p-3 border-0">
      <div class="card-body">
        <h5 class="card-title small">Institutional Owners</h5>
        <div class="stat-card mb-2">
          <div class="stat-card-body">
            <span class="stat-card-title stat-card-title--large stat-card-number-positive">
              <%= number_with_delimiter(@stats[:institutional_owners]) %>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="card well p-3 border-0">
      <div class="card-body">
        <h5 class="card-title small">JOSS Papers</h5>
        <div class="stat-card mb-2">
          <div class="stat-card-body">
            <span class="stat-card-title stat-card-title--large stat-card-number-positive">
              <%= number_with_delimiter(@stats[:joss_projects]) %>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% if @stats[:top_languages].present? %>
  <div class="two-equal-widgets">

    <div class="card well p-3 border-0">
      <div class="card-body">
        <h5 class="card-title small">Top Programming Languages</h5>
        <div class="language-list list-group list-group-flush bg-transparent mt-4">
            <% @stats[:top_languages].each do |language, count| %>
              <div class="d-flex justify-content-between align-items-center bg-transparent list-group-item">
                <span><%= language %></span>
                <span class="badge bg-primary"><%= number_with_delimiter(count) %></span>
              </div>
            <% end %>
          </div>
      </div>
    </div>
    <div class="card well p-3 border-0">
      <div class="card-body">
        <h5 class="card-title small">Data Completeness</h5>
        <div class="d-flex justify-content-between mt-4 mb-1">
          <span>With Repository Data</span>
          <span><%= number_with_delimiter(@stats[:projects_with_repository]) %> / <%= number_with_delimiter(@stats[:total_projects]) %></span>
        </div>
        <div class="stacked-bar bg-light mb-3">
          <div class="segment seg-a" style="--w: <%= (@stats[:projects_with_repository].to_f / @stats[:total_projects] * 100).round %>%"></div>
        </div>
        <div class="d-flex justify-content-between mt-4 mb-1">
          <span>With README</span>
          <span><%= number_with_delimiter(@stats[:projects_with_readme]) %> / <%= number_with_delimiter(@stats[:total_projects]) %></span>
        </div>
        <div class="stacked-bar bg-light mb-3">
          <div class="segment seg-b" style="--w: <%= (@stats[:projects_with_readme].to_f / @stats[:total_projects] * 100).round %>%"></div>
        </div>
        <div class="d-flex justify-content-between mt-4 mb-1">
          <span>With Packages</span>
          <span><%= number_with_delimiter(@stats[:projects_with_packages]) %> / <%= number_with_delimiter(@stats[:total_projects]) %></span>
        </div>
        <div class="stacked-bar bg-light mb-3">
          <div class="segment seg-c" style="--w: <%= (@stats[:projects_with_packages].to_f / @stats[:total_projects] * 100).round %>%"></div>
        </div>
        <div class="d-flex justify-content-between mt-4 mb-1">
          <span>Science Scored</span>
          <span><%= number_with_delimiter(@stats[:scored_projects]) %> / <%= number_with_delimiter(@stats[:total_projects]) %></span>
        </div>
        <div class="stacked-bar bg-light mb-3">
          <div class="segment seg-d" style="--w: <%= (@stats[:scored_projects].to_f / @stats[:total_projects] * 100).round %>%"></div>
        </div>
        <div class="d-flex justify-content-between mt-4 mb-1">
          <%= link_to citation_projects_path, class: 'd-flex justify-content-between w-100 text-decoration-none text-reset' do %>
            <span>With CITATION.cff</span>
            <span><%= number_with_delimiter(@stats[:projects_with_citation_file]) %> / <%= number_with_delimiter(@stats[:total_projects]) %></span>
          <% end %>
        </div>
        <div class="stacked-bar bg-light mb-3">
          <div class="segment seg-e" style="--w: <%= (@stats[:projects_with_citation_file].to_f / @stats[:total_projects] * 100).round %>%"></div>
        </div>
        <div class="d-flex justify-content-between mt-4 mb-1">
          <%= link_to codemeta_projects_path, class: 'd-flex justify-content-between w-100 text-decoration-none text-reset' do %>
            <span>With codemeta.json</span>
            <span><%= number_with_delimiter(@stats[:projects_with_codemeta]) %> / <%= number_with_delimiter(@stats[:total_projects]) %></span>
          <% end %>
        </div>
        <div class="stacked-bar bg-light mb-3">
          <div class="segment seg-f" style="--w: <%= (@stats[:projects_with_codemeta].to_f / @stats[:total_projects] * 100).round %>%"></div>
        </div>
        <div class="d-flex justify-content-between mt-4 mb-1">
          <%= link_to zenodo_projects_path, class: 'd-flex justify-content-between w-100 text-decoration-none text-reset' do %>
            <span>With .zenodo.json</span>
            <span><%= number_with_delimiter(@stats[:projects_with_zenodo]) %> / <%= number_with_delimiter(@stats[:total_projects]) %></span>
          <% end %>
        </div>
        <div class="stacked-bar bg-light mb-3">
          <div class="segment seg-g" style="--w: <%= (@stats[:projects_with_zenodo].to_f / @stats[:total_projects] * 100).round %>%"></div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>